<% if flash[:alert] %>
 <p class="notice"><%= flash[:alert] %></p>
<% end %>
<% if flash[:false] %>
 <p class="notice"><%= flash[:false] %></p>
<% end %>
<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th料金</th>
      <th>作成日</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= image_tag room.home_image.url %></td>
        <td><%= room.home_name %></td>
        <td><%= room.home_type %></td>
        <td><%= room.money %></td>
        <td><%= room.created_at.to_s(:datetime_jp) %></td>
        <td><%= link_to "編集", [:edit_rooms, room] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "施設新規登録", :new_rooms %></p>

<%= paginate @rooms %>